@import '../../../Global/Styles/Variables.scss';

.ContactFormular {
    padding: 10% 12% 0 12%;
    margin: auto;
    font-family: $Font;

    label {
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
        
    }

    input, textarea {
        background-color: $PrimaryColor;
        border: 2px solid $SecondaryColor;
        margin-bottom: 1rem;
        resize: none;

        &:hover {
            font-size: inherit;
            opacity: 1;
        }
    }

    .Submit {
        background-color: $SecondaryColor;
        color: $White;
        text-transform: uppercase;
        padding: .3rem;
        
        &:hover {
            background-color: lighten($SecondaryColor, 10);
        }
    }
}