@import '../../../Global/Styles/Variables.scss';

h1 a {
    font-size:50px;
    font-weight: 800;
    color: $SecondaryColor;
    
    &:hover {
        text-decoration: none;
        color: lighten($SecondaryColor, 50);
        
    }
}

span:hover {
    color: lighten($SecondaryColor, 50) !important;
}

.MobileNav {
    display: none;
    
}



@media only screen and (max-width: 1200px) {
    
  
    .DesktopNav {
        display: none;
    }

    .MobileNav {
        display: block;
    }

}