@import '../../Global/Styles/Variables.scss';


.ShopMenu {
    background-color: $PrimaryColor;
    font-family: $Font;
    
}

.ShopContent {
    background-color: $White;
    font-family: $Font;
    padding: 0 !important;
   
    
}